@charset "UTF-8";

:root {
  --main-color: navy;
  --accent-color: coral;
  --dark-main-color: azure;
  --dark-sub-color: aliceblue;
  font-size: 62.5%;
}

* {
  font-family: "M PLUS 1p",sans-serif;
  margin: 0;
  padding: 0;
}

section.top {
  height: 20vh;
  text-align: center;
}

.logo {
  margin-top: 5rem;
  width: 30%;
}

section.main {
  height: 80vh;
}

/*div class="disc*/
.disc {
  background-color: var(--dark-main-color);
  color: var(--main-color);
  margin:0 auto;
  text-align: center;
  padding-top: 3rem;
  font-size: 1.2rem;
}

.icons {
  display: flex;
  margin-top: 5rem;
}

.text {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 6rem;
  text-align: center;
  margin:0 auto;
}

.icon {
  display: inline-block;
  margin-bottom: 2px;
  font-size: 40px;
  width: 2em;
  line-height: 2em;
  border-radius: 50%;
  text-align: center;
  color: lightgray;
}

/*div class="form*/
.form {
  background-color: var(--dark-sub-color);
  color: var(--main-color);
  text-align: center;
  margin:0 auto;
  padding-top: 3rem;
  font-size: 1rem;
}

.flash {
  text-align: center;
  font-weight: bold;
  padding: 0.5em 1em;
  margin: 1em 0;
  color: #ff7d6e;
}

dt {
  font-weight: bold;
}

dd {
  padding-bottom: 2rem;
}

input[type='text']{
  width: 30rem;
  height: 10rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}

input[type='submit']{
  border: none;
  display: block;
  width: 15rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--accent-color);
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin: 0 auto;
}

input[type="submit"]:hover {
  opacity: 0.9;
}

/*画面幅768px~990px（タブレット）メディアクエリ*/
@media screen and (min-width:768px) {

  section.top {
    height: 30vh;
  }
  
  section.main {
    height: 70vh;
  }

  section.main {
    display: flex;
  }

  .disc {
    flex: 1;
    font-size: 1.2rem;
    padding-top: 15rem;
  }

  .form {
    flex: 1;
    font-size: 1rem;
    padding-top: 15rem;
  }

  input[type='text']{
    width: 25rem;
  }
}

/*990px~（PC）メディアクエリ*/
@media screen and (min-width:990px){

  section.top {
    height: 30vh;
  }

  section.main {
    height: 70vh;
  }
  .disc {
    font-size: 1.8rem;
    padding-top: 8rem;
    letter-spacing: 0.1rem;
  }

  .form {
    font-size: 1.8rem;
    padding-top: 6rem;
    letter-spacing: 0.1rem;
  }

  input[type='text']{
    width: 40rem;
  }
  
  input[type='submit']{
    width: 15rem;
  }

  dt {
    padding-top: 3rem;
  }
}